/* .trans {
    background-color:#e8f6fa;
    background-color:rgba(232, 246, 250, 0.5);
    padding: 20px;
}
.user {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    height: 466px;
    background: white;
    
}

.about {
    height: 234px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    background: white;
    overflow:auto;
}
.below {
    overflow: auto;
    padding:30px 40px;
    background: #ffffff;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    width: 329px;
    height: 220px;
}
.about .below::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}
.about .below::-webkit-scrollbar-thumb {
    background:rgb(197 197 197);
    border-radius: 10px;
}
.about .below::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
.about .below::-webkit-scrollbar-thumb:active { 
    background-color: rgb(171 166 166);
}  
.link1{
    padding-right: 2px !important;

    margin:0px !important;
}
.link2{
    padding-left:2px !important;

    margin:0px !important;
}
.side-link{
    display:inline;
}
.below::-webkit-scrollbar,.about::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}
.below::-webkit-scrollbar-thumb,.about::-webkit-scrollbar-thumb {
    background:rgb(197 197 197);
    border-radius: 10px;
}
.below::-webkit-scrollbar-track,.about::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
.below::-webkit-scrollbar-thumb:active ,.about::-webkit-scrollbar-thumb:active { 
    background-color: rgb(171 166 166);
}  
@media only screen and (max-width: 864px) {
    .user{
    width: 97%;
    height: 353px;
    margin-bottom: 15px;
    }
    .profile-icon,.side-link,.side-nav{
        display:none;
    }
    
    .trans{
    padding-right: 32px;
    }
    .small-text{
        font-size: 14px
    }
    .image{
        padding:0px!important;
    }
    .hello , .welcome{
        margin:0px!important;
        padding:0px!important;
    }
    

} */