{% extends "layout.html" %}

{% block headcss %}
<link rel="stylesheet" href='{{url_for("static",filename="about.css")}}'> 
{% endblock %}

{% block body %} 


<div class="container mt-3"> 
  <h3 class="text-center heading">The devs behind all of this work</h3>
	<div class="row">
	{% for i in users %}
		<div class="col" style="margin-bottom: 20px;">
            <div class="card cards text-center" style="align-items:center; padding:20px;">
                <img class="card-img-top" src="{{i.pic|url_of_img}}" alt="Card image cap" style="width:260px; height:260px; border-radius: 35px;">
    <div class="card-body">
      <h5 class="card-title">{{i.username}}</h5>
        <p class="card-text">
            {{i.title}}
        </p>
    </div>
    <a href="/profile/{{i.username}}" class="btn btn-primary">See Profile</a>
    </div>
    </div>
  {% endfor %}
    </div>
</div>

{% endblock %}

