{% extends "layout.html" %}


{% import 'macro.html' as macro %}
{% block body %}
<br>
{% include "flash.html" %}



<div class="container" id="ques_cont">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ macro.replace(quest|length) }}
            <hr>

            {% for ques in questions %}
            <div class="grid_ques">
            
            <div style=" grid-column:1; ">
                <div style="display:block; text-align:center; margin-right: 10px">
                    <span style="display: block ;">{{ques.upvote}}</span>
                <span style="display: block ; font-size:11px; margin-top:-10px">votes</span></div>
                {% if ques.Ques_Ans|length != 0 and "true" not in ques.Ques_Ans|list_comp %}  
                <div class="status answered" >
                {% elif "true" in ques.Ques_Ans|list_comp %}
                <div class="status answered" style="background: #48a868 ; color:#fff;" >
                {% else %}
                <div style="display:block; text-align:center; margin-right: 10px;">
                {% endif %}
                
                    <span style="display: block ;">{{ques.Ques_Ans|length}}</span>
                <span style="display: block ; font-size:11px; margin-top:-10px">answers</span></div>
            </div>
            <div style="grid-column:2">
            <div class="post-preview" >
                <a href="/{{ ques.sno }}/{{'-'.join(ques.title[0:40].split(' '))}}" class="post-title">{{ques.title}}  </a>   <br>
                <p class="sub">{{ques.body | replace_regex}}</p>
            </div>
            <div class="row">
                <div class="col">
                    {% for tag in ques.tag.split(" ") %}
                    
                    {% if tag != "" %}

                    <p class="tag ptag"><a href="/tag/{{ tag }}">{{ tag }}</a>
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col">
                        <div class="row">
                            <div class="col">
                        <img src="{{ques.question_user.pic|get_img}}" style="float:right;"alt="" width=28 height=28 />
                        </div>
                        <div class="user col">
                        <a href="/profile/{{ques.username}}" class="user-a">{{ques.username}}</a>

                        <br>
                        <span class="Date">
                            {{ques.date}}
                        </span>
                    </div>
                    
                    </div>
                    
                </div>
            </div>
            </div>
            </div>
            <hr style="margin-top: 0px;
                margin-bottom: 20px;">
            {% endfor %}

            {% if quest|length > ques_no %}
            <button   class="btn btn-primary page" id="{{prev}}"
                style="float:left;">&larr; prev</button>
            <button  class="btn btn-primary page" id={{next}} style="float:right">Next →</button>
            <script>
                document.querySelectorAll(".page").forEach(e=>{
                    e.addEventListener("click", (e) => {
                        if (!e.target.id.includes("#")){
                            a = e.target.id.split("=")  
                            console.log(a)
                            url_manager(a[0],a[1])
                }
            },false); 
                });
                
            </script>
            {% endif %}

                <nav aria-label="Page navigation example" style="float: right;">
                    <ul class="pagination">
                        <li class="page-item"><button type="button"
                                class="page-link">10</button></li>
                        <li class="page-item"><button type="button"
                                class="page-link">50</button></li>
                        <li class="page-item"><button type="button"
                                class="page-link">100</button></li>
                    </ul>
                </nav>
        </div>
                </div>
        


    
    
    
    

    {% endblock %}
    {% block script %}
    <script>
        
            
          document.onload = (e) => {
            

            document.querySelectorAll(".page-link").forEach((e) => {
                url_manager("no_of_ques",e.value)
                
            })
        }
            
            


            
            /*if ( window.location.pathname.endsWith("/search") && !window.location.search){
                window.location.replace("/")
            }*/

        
    </script>
    
    {% endblock script %}