{% extends "layout.html" %} {% block headcss %}
    <style>
        .pfp{
            position: relative;
            top: -49px;
            border-radius: 15px;
        }
        .body a{
            color: black;
            text-decoration: none;
        }

        .body a:hover  {
            color: rgb(40, 40, 255);
        }

        .abt-below {
            height: 12rem;
            box-shadow: 3px 5px 14px rgb(0 0 0 / 20%);
            overflow-y: scroll;
        }

        .abt {
            margin-bottom: 10px;
            overflow-y:scroll; 
            height:15rem;
            padding-left: 5%;
            padding-top: 2%;
            box-shadow: 3px 5px 14px rgb(0 0 0 / 20%);
        }
        .profile{
            color:black;
        }
        @media screen and (max-width: 767px) {
            .profile{
                height: 23rem;
            }
        }

        ::-webkit-scrollbar-thumb {
            background: rgb(197 197 197);
            border-radius: 10px;
        }

        ::-webkit-scrollbar-track {
            border-radius: 10px;
            background: transparent;
        }

        ::-webkit-scrollbar-thumb:active {
            background-color: rgb(171 166 166);
        }

        .link1 {
            padding-right: 2px !important;

            margin: 0px !important;
        }

        .link2 {
            padding-left: 2px !important;
            margin: 0px !important;
        }

        .side-link {
            display: inline;
        }

        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;

        }

        ::-webkit-scrollbar-thumb {
            background: rgb(197 197 197);
            border-radius: 10px;
        }

        ::-webkit-scrollbar-track {
            border-radius: 10px;
            background: transparent;
        }

        ::-webkit-scrollbar-thumb:active {
            background-color: rgb(171 166 166);
        }
        .dropdown a:hover{
            color: rgba(14, 14, 14, 0.74);
        }
    </style>
{% endblock %}
{% block body %} 
{% if user == none %}
        <h1 class="text-center" style="margin:200px;">
            User not found
        </h1>
{%else%}
<div class="container-fluid mt-2">
        <div class="row body">
            <!--sidebar -->
            <div class="col-sm-2 d-md-block d-none">
                <div class="row mt-3 g-2 text-center">
                    <div class="col-12 mb-3">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Fpopular-services-brands-vol-2%2F512%2Fstackoverflow-512.png&f=1&nofb=1" alt="logo" height="60" width="60"></div>
                    <div class="col-12">
                        <a href="/profile/{{session['user']}}">My profile</a>
                    </div>
                    <div class="col-12">
                        <a href="/users/edit/{{session['user']}}">Edit profile</a>
                    </div>
                    <div class="col-12">
                        <a href="#">Support</a>
                    </div>
                </div>
            </div>
            <!-- main content -->
            <div class="col-md-10">
                <div class="row">
                    <div class="col">
                        <!-- top bar -->
                        <div class="row align-items-center">
                            <div class="col h6">
                                <h2>My profile</h2>
                                <h6>welcome to {{user.username}}'s profile</h6>
                            </div>
                            <div class="col text-end">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Hello {{user.username}}
                                    </a>
                                  
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                      <li><a class="dropdown-item" href="#">Change Email</a></li>
                                      <li><a class="dropdown-item" href="#">Change Password</a></li>
                                      <div class="d-md-none">
                                      <li><a class="dropdown-item" href="#">My profile</a></li>
                                      <li><a class="dropdown-item" href="#">Edit profile</a></li>
                                      <li><a class="dropdown-item" href="#">Contact</a></li>
                                      </div>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                    </ul>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <!-- profile photo and links -->
                    <div class="mt-5 row row-cols-sm-1 text-dark">
                        <div class="col-12 profile shadow col-md-5 text-center rounded mb-md-0 mb-2 h6">
                            <img height=150px width=150px
                                src="{{user.pic|get_img}}"
                                class="border pfp border-dark">
                            <h1>{{user.username}}</h1>
                            <p>{{user.title}}</p>
                            <div class="row row-cols-2 g-2 justify-content-end">
                                <div class="col h5">
                                    <a target="_blank" rel="noopenner" href="https://github.com/{{user.github_username}}"><i class="fab fa-github"></i> GitHub</a>
                                </div>
                                <div class="col h5">
                                    <a target="_blank" rel="noopenner" href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                                </div>
                                <div class="col h5">
                                    <a target="_blank" rel="noopenner" href="https://twitter.com/{{user.twitter}}"><i class="fab fa-twitter"></i> Twitter</a>
                                </div>
                                <div class="col h5">
                                    <a target="_blank" rel="noopenner" href="{{user.website_link}}"><i class="fas fa-globe"></i> Website</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="row ms-md-1 my-sm-0">
                                <!--about-->
                                <div class="col-12 text-dark abt rounded">
                                    <h1>About</h1>
                                    <p>{{user.about}}</p>
                                </div>
                                <!-- lang and education -->
                                <div class="col-12 abt-below text-dark rounded p-2">
                                    <p>languages: <strong>python,cpp,swift</strong><br>
                                        education: <strong>best degree, best university</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {%endif%}
{% endblock %}

