{% extends "layout.html" %} {% block headcss %}
    <style>
        .body a {
            color: black;
            text-decoration: none;
        }

        .body a:hover {
            color: rgb(85, 85, 85);
        }

        .abt-below {
            height: 12rem;
            box-shadow: 3px 5px 14px rgb(0 0 0 / 15%);
            overflow-y: scroll;
        }

        .abt {
            overflow-y: scroll;
            height: 17rem;
            box-shadow: 3px 5px 14px rgb(0 0 0 / 15%);
        }

        .profile {
            color: black;
        }

        @media screen and (max-width: 767px) {
            .profile {
                height: 28rem;
            }
        }

        @media screen and (max-width: 576px) {
            .profile {
                height: 32rem;
            }
        }

        .link1 {
            padding-right: 2px !important;
            margin: 0px !important;
        }

        .link2 {
            padding-left: 2px !important;
            margin: 0px !important;
        }

        .side-link {
            display: inline;
        }

        .dropdown a:hover {
            color: rgba(14, 14, 14, 0.74);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-2">
        <form action="{{url_for('users.edit_profile', name=session['user'])}}" method="post" enctype="multipart/form-data">
            <div class="row body">
                <!--sidebar -->
                <div class="col-sm-2 d-md-block d-none">
                    <div class="row mt-3 g-2 ms-5">
                        <div class="col-12 mb-3">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Fpopular-services-brands-vol-2%2F512%2Fstackoverflow-512.png&f=1&nofb=1"
                                alt="logo" height="60" width="60">
                        </div>
                        <div class="col-12">
                            <a href="/profile/{{session['user']}}">My profile</a>
                        </div>
                        <div class="col-12">
                            <a href="/users/edit/{{session['user']}}">Edit profile</a>
                        </div>
                        <div class="col-12">
                            <a href="#">Support</a>
                        </div>
                    </div>
                </div>
                <!-- main content -->
                <div class="col-md-10">
                    <div class="row">
                        <div class="col">
                            <!-- top bar -->
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2>Edit profile</h2>
                                    <h6>Edit your profile info</h6>
                                </div>
                                <div class="col text-end">
                                    <div class="dropdown">
                                        <a class=" dropdown-toggle" href="#" id="dropdownMenuLink"
                                            data-mdb-toggle="dropdown" aria-expanded="false">
                                            Hello {{user.username}}
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Change Email</a></li>
                                            <li><a class="dropdown-item" href="#">Change Password</a></li>
                                            <div class="d-md-none">
                                                <li><a class="dropdown-item" href="#">My profile</a></li>
                                                <li><a class="dropdown-item" href="#">Edit profile</a></li>
                                                <li><a class="dropdown-item" href="#">Contact</a></li>
                                            </div>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- profile photo and links -->
                        <div class="mt-3 row row-cols-md-1 text-dark">
                            <div class="col-12 profile shadow col-md-5 text-center mb-md-0 mb-2">
                                <img height=145px width=145px
                                    src="{{user.pic|get_img}}"
                                    class="border-dark border border-2" id="myImg">
                                <div class="col">
                                    <label for="image_upload">
                                        <button type="button" class="mt-2 mb-4 btn-primary btn btn-rounded">Change picture</button>
                                    </label>
                                    <input type="file" name="pic" id="image_upload" style="display: none;" />
                                </div>
                                
                                <div class="row row-cols-md-1 g-3">
                                    <div class="col form-outline">
                                        <input class="form-control"
                                            value="{{user.username}}" id="name" required></input>
                                        <label class="form-label" for="name">Name</label>
                                    </div>
                                    <div class="col form-outline">
                                        <input class="form-control" name="title" id="title" value="{{user.title}}"></input>
                                        <label class="form-label" for="title">Title</label>
                                    </div>
                                </div>
                                <!-- social media links -->
                                <div class="row row-cols-1 row-cols-sm-2 g-2 mt-2">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fab fa-github"></i></span>
                                            <input type="text" class="form-control" name="github" placeholder="Github Username"
                                                aria-label="Username" aria-describedby="basic-addon1" value="{{user.github_username}}">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fab fa-linkedin-in"></i></span>
                                            <input type="text" class="form-control" name="linkedin" placeholder="LinkedIn Username"
                                                aria-label="Username" aria-describedby="basic-addon1" value="{{user.linkedin}}">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fab fa-twitter"></i></span>
                                            <input type="text" class="form-control" name="twitter" placeholder="Twitter Username"
                                                aria-label="Username" aria-describedby="basic-addon1" value="{{user.twitter}}">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-globe"></i></span>
                                            <input type="url" name="website" class="form-control" placeholder="Website url"
                                                aria-label="website url" aria-describedby="basic-addon1" value="{{user.website_link}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="row ms-md-1 my-sm-0">
                                    <!--about-->
                                    <div class="col-12 text-dark abt mb-3 rounded py-2">
                                        <h2>About</h2>
                                        <textarea style="width:100%;height: 60%;resize: none;"
                                            class="form-control" name="about">{{user.about}}</textarea>
                                            <button type="submit" class="btn mt-3 btn-primary btn-rounded">Submit</button>
                                    </div>
                                    <!-- lang and education -->
                                    <div class="col-12 abt-below text-dark py-3 px-3">
                                        <h2>Other info</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        window.addEventListener('load', function () {
            document.querySelector('input[type="file"]').addEventListener('change', function () {
                if (this.files && this.files[0]) {
                    var img = document.getElementById('myImg');
                    img.onload = () => {
                        URL.revokeObjectURL(img.src);
                    }

                    img.src = URL.createObjectURL(this.files[0]);
                }
            });
        });
    </script>
{% endblock %}